body {
	min-width: 350px;
	overflow-x: hidden;
}

.popup_wrapper {
	padding: 10px;
	background-color: #FFCC66;
	font-family: "Tahoma", "Geneva", "sans-serif";
}

.url {
	font-size: 12pt;
	color: #003300;
	text-decoration: underline;
}

.keywords {

}

.title {
	font-size: 14pt;
	color: #0000FF;
	padding: 5px;
}	

.tips{
	margin: 5px;
}

.tip_title{
	font-size: 12pt;
	font-style: bold;
	color: 14pt;
	padding: 10px 0px;
}

.tip_content {
	font-size: 10pt;
	font-style:  italic;
}
