body {
	min-width: 350px;
	overflow-x: hidden;
}

#email {
	display: none;
}

#social_network {
	display: none;
}

#blog {
	display: none;
}

#forum {
	display: none;
}
#other {
	display: none;
}
#media {
	display: none;
}
#news {
	display: none;
}

.tip_content {
	display: none;
	cursor: pointer;
}

.other_info {
	font-size: 10pt;
	font-style: italic;
	text-align: center;
	margin-top: 30px;
}


#other {
	text-align: center;
}

#site_link {
	text-decoration: underline;
}
#site_link:hover {
	cursor: pointer;
}


.popup_wrapper {
	padding: 10px;
	background-color: #FFCC66; /*tan*/
	border: 2px solid #000000;
	font-family: "Candara";
}

.url {
	font-size: 12pt;
	color: #003300;
	text-decoration: underline;
}

.keywords {

}
.help {
	font-style: italic;
	font-size: 11pt;
	margin-top: 10px;
	text-align: center;
}

.title {
	font-size: 16pt;
	color: #000000;
	padding: 10px;
	font-style: bold;
	text-align: center;
	background-color: #FFCC66;
	border-bottom: 1px solid #000000;

}	

.tips{
	margin: 5px;
}

.tip_title{
	font-size: 12pt;
	font-style: bold;
	cursor: pointer;
	padding: 10px 0px;
}
.tip_title:hover {
	background-color: #FFFFCC;
	
}

.tip_content {
	font-size: 10pt;
	font-style:  italic;
	cursor: default;
}
